services:
  api:
    build: .
    container_name: orchestrator_api
    ports:
      - "8000:8000"
    environment:
      DEFAULT_LLM_MODEL: "ministral-3:8B"
      DEFAULT_TEMPERATURE: "0.6"
      OLLAMA_BASE_URL: "http://host.docker.internal:11434"
    extra_hosts:
      # важно для Linux; на Win/Mac не мешает
      - "host.docker.internal:host-gateway"

    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9091"
    depends_on:
      - api
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    restart: unless-stopped

volumes:
  grafana_data:
